In [19]:
import shutil
import os
from glob import glob


for folder in range(1,6):
    cnt = 1
    img_list = sorted(glob(f'./data/{folder}/*/*.jpg'))
    for img in img_list:
        shutil.copy(img,f"./data/{folder}/train_{cnt}.jpg")
        cnt += 1

In [20]:
import pandas as pd

comic_df = pd.DataFrame(columns=['img_path',1,2,3,4,5])
comic_df.loc[0] = 1,1,1,1,1,1
comic_df

   img_path  1  2  3  4  5
0         1  1  1  1  1  1

In [21]:
cnt = 0
for folder in range(1,6):
    img_list = sorted((glob(f'./data/{folder}/*.jpg')))
    label = [0 for _ in range(6)]
    label[folder-1] = 1
    for img in img_list:
        comic_df.loc[cnt] = img,label[0],label[1],label[2],label[3],label[4]
        cnt += 1
comic_df

                    img_path  1  2  3  4  5
0       ./data/1\train_1.jpg  1  0  0  0  0
1      ./data/1\train_10.jpg  1  0  0  0  0
2     ./data/1\train_100.jpg  1  0  0  0  0
3     ./data/1\train_101.jpg  1  0  0  0  0
4     ./data/1\train_102.jpg  1  0  0  0  0
...                      ... .. .. .. .. ..
2545   ./data/5\train_95.jpg  0  0  0  0  1
2546   ./data/5\train_96.jpg  0  0  0  0  1
2547   ./data/5\train_97.jpg  0  0  0  0  1
2548   ./data/5\train_98.jpg  0  0  0  0  1
2549   ./data/5\train_99.jpg  0  0  0  0  1

[2550 rows x 6 columns]

In [22]:
comic_df.to_csv("./comic.csv")